<div id="container">
    <div class="left">
        <div id="salon" class="animate form">
            <h3>Name: Owner's Name</h3>
            <h3>Salon: {{saloonName}}</h3>
            <p>Scissors and Razors
                <Salon> </Salon> is located in Hoboken, NJ. The salon offers services like hairdressing, hair extension and nail
                art. Other services include shampooing, conditioning and blow drying and are also expert in hair coloring
                and styling.</p>
            <h3>Address</h3>
            <p>{{address}}</p>
            <h3>Timings</h3>
            <p>10 a.m to 7 p.m.</p>
            <h3>Stylists</h3>
            <div class="listing">
                <ul>
                    <li>Helen Amber-haircut</li>
                    <li>Susan Drew-nail spa</li>
                    <li>Sherry Yang-hair color</li>
                </ul>
            </div>
            <div id="boxes1" class="animate form">
                <form action="" autocomplete="on">

                    <p>
                        <input id="stylist" size="40" placeholder="Add stylist">
                        <input id="speciality" size="40" placeholder="speciality" style="width:20%">
                        <input type="submit" value="Add" style="width:10%" />
                    </p>
                </form>
            </div>
            <h3>Services</h3>
            <div class="listing">
                <ul>
                    <li>haircut - 70$ </li>
                    <li>hair color - 150$ </li>
                    <li>highlights -120$ </li>
                </ul>
            </div>
            <div id="boxes2" class="animate form">
                <form action="" autocomplete="on">

                    <p>
                        <input id="service" size="40" placeholder="Add service">
                        <input id="charge" size="40" placeholder="charges" style="width:20%">
                        <input type="submit" value="Add" style="width:10%" />
                    </p>
                </form>
            </div>
            <h3>Overall Rating:4.5</h3>
            <br>
            <br>
            <h3>Reviews</h3>
            <div>
                <p>Customer Name: Ronald Weasley</p>
                <p>Review: The SMARTEST hair stylists and colorists in Hoboken.</p>
            </div>
            <br>
            <div>
                <p>Customer Name: Hermione Granger</p>
                <p>Review: I LOVE LOVE LOVE my new haircut and style!”</p>
            </div>
            <br>
            <div>
                <p>Customer Name: Draco Malfoy</p>
                <p>Review: This is a truly lovely salon.</p>
            </div>
        </div>
        <div class="left">

            <table>
                <tr>
                    <td>
                        <a target="_blank" href="/public/SalonImages/salon1.jpg">
        <img src="/public/SalonImages/salon1.jpg" alt="salon1">
        </a></td>
                    <td>
                        <a target="_blank" href="/public/SalonImages/salon2.jpg">
        <img src="/public/SalonImages/salon2.jpg" alt="salon2">
        </a></td>
                    <td>
                        <a target="_blank" href="/public/SalonImages/salon3.jpg">
  <img src="/public/SalonImages/salon3.jpg" alt="salon3">
</a></td>
                </tr>
                <tr>
                    <td>
                        <a target="_blank" href="/public/SalonImages/salon4.jpg">
      <img src="/public/SalonImages/salon4.jpg" alt="salon4">
</a>
                    </td>
                    <td>
                        <a target="_blank" href="/public/SalonImages/salon5.jpg">
      <img src="/public/SalonImages/salon5.jpg" alt="salon5">
</a>
                    </td>
                    <td>
                        <a target="_blank" href="/public/SalonImages/salon6.jpg">
      <img src="/public/SalonImages/salon6.jpg" alt="salon6">
</a></td>
                </tr>
                <tr>
                    <td>
                        {{#if filename}}

                        <a target="_blank" href="/public/SalonImages/{{filename}}">
      <img src="/public/SalonImages/{{filename}}" alt="salon6">
</a> {{/if}}
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <div class="boxes">
            <form id="frmUploader" enctype="multipart/form-data" action="vendors/upload" method="post">
                <input type="file" name="file" />
                <input type="submit" value="Add image" name="submit" id="btnSubmit" value="Upload" style="width:10%" /> </form>
            <p>{{message}}</p>
        </div>
    </div>
</div>