<div id="service" class="animate form" style="margin:auto;">


    <h3>Service Name: {{service.serviceName}}</h3>
    <h3>Description: {{service.description}}</h3>
    <h3>Cost: {{service.cost}}</h3>
    {{#each reviews}}
    <p> Review: {{this.review}} </p>
    <p>Rating: {{this.rating}} </p>
    {{/each}} {{!--
    <div>
        <p>Customer Name: Ronald Weasley</p>
        <p>Review: The SMARTEST hair stylists and colorists in Hoboken.</p>
    </div>
    <br>
    <div>
        <p>Customer Name: Hermione Granger</p>
        <p>Review: I LOVE LOVE LOVE my new haircut and style!”</p>
    </div>
    <br>
    <div>
        <p>Customer Name: Draco Malfoy</p>
        <p>Review: This is a truly lovely salon.</p>
    </div>--}}
</div>